@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #170219), to(#6b144f));
  background: -webkit-linear-gradient(left, #170219 12%, #6b144f 100%);
  background: linear-gradient(to right, #170219 12%, #6b144f 100%);
  margin: 0;
  /*LOGO + NAVIGATION*/ }

header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  max-height: 150px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #456789 url("../img/logo-bg.jpg") no-repeat 0% 44%;
  background-size: 110%; }

header > nav > ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

header > nav > ul > li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9em;
  height: 2.5em;
  /*padding-top: 20px;*/ }

header > nav > ul > li > a {
  /*margin: auto 0;*/
  /*display: block;*/
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 4em;
  color: #f2badc;
  font: 140% Gabriola;
  font-weight: bolder; }

header > nav > ul > li > a:hover {
  color: #f7e1ee;
  text-decoration: underline; }

.logo {
  position: relative; }

.logo > img {
  width: 60%;
  display: block;
  margin-left: 5%; }

#order {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 1%; }

.nailFrench {
  display: block;
  position: relative;
  width: 100%;
  height: 200vh;
  background: #333;
  overflow: hidden; }
  .nailFrench img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%; }

.orderBlock {
  position: relative;
  display: block;
  width: 30%;
  height: 20%;
  float: left;
  margin-top: 15%; }

.orderBlockInner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .orderBlockInner a {
    color: #ffadee;
    text-transform: uppercase;
    background-color: #6d1550;
    position: relative;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    font: 48px Gabriola;
    font-weight: bold;
    text-shadow: 1px 2px 2px #4f1143;
    /* Внешняя тень кнопки */
    -webkit-box-shadow: 0px 9px 0px #4f1143, 0px 9px 25px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 9px 0px #4f1143, 0px 9px 25px rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 8px;
            border-radius: 8px;
    border: none;
    outline: 0 none;
    overflow: hidden; }
  .orderBlockInner a:hover {
    background-color: #68114b; }
  .orderBlockInner a:active {
    -webkit-box-shadow: 0px 3px 0px #4f1143, 0px 3px 6px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 3px 0px #4f1143, 0px 3px 6px rgba(0, 0, 0, 0.9);
    top: 6px; }

#contacts {
  margin-top: 1%;
  border: 2px solid red;
  width: 100%;
  height: 200vh; }

#gallery {
  margin-top: 1%;
  width: 100%;
  height: 150vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #333;
  overflow: hidden; }
  #gallery .bg-gallery {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%; }

.container {
  max-width: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  z-index: 50; }
  .container a img {
    display: block;
    border: 3px solid #ffe;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin: 5px; }

#prices {
  margin-top: 1%;
  width: 100%;
  height: 200vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #333;
  overflow: hidden; }
  #prices img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%; }

table {
  z-index: 50;
  font: 40px Gabriola;
  border-spacing: 3vw;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px; }

#contacts {
  margin-top: 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.contactsHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  z-index: 50; }

.adress-bar {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  font: 26px Gabriola;
  color: #ffd; }
  .adress-bar p {
    margin: 0;
    padding: 0; }

.messageForm {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  form * {
    margin-bottom: 1vw;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  form input {
    height: 1.8em; }

iframe {
  width: 60%;
  margin-left: 20%; }

@font-face {
  font-family: Gabriola;
  src: local("Gabriola"), url("../fonts/Gabriola.ttf"); }
